import("AnnotationHub")
import("AnnotationHubData")
import("MSnbase")
import("mzR")
import("Biostrings")
import("GenomeInfoDb")

importFrom("utils",
           "packageDescription", "vignette", "download.file")

export(ProteomicsAnnotationHubData)
