import("AnnotationHub")
import("curl")
import("AnnotationHubData")
import("MSnbase")
import("mzR")
import("Biostrings")
import("GenomeInfoDb")

importFrom("Biobase", "addVigs2WinMenu")
importFrom("BiocInstaller", "biocVersion")

importFrom("utils", "packageVersion", "packageDescription",
           "vignette", "download.file")

export(ProteomicsAnnotationHubData,
       makeAnnotationHubMetadata,
       writePahdTemplate,
       readPahdFiles,
       PAHD,
       availableProteomicsAnnotationHubData,
       proteomicsAnnotationHubDataResources,
       identicalRemLoc)

exportClasses(PAHD)
