import("AnnotationHub")
import("AnnotationHubData")
import("MSnbase")
import("mzR")
import("Biostrings")
import("GenomeInfoDb")

importFrom("Biobase", "addVigs2WinMenu")
importFrom("BiocInstaller", "biocVersion")

importFrom("utils",
           "packageDescription", "vignette", "download.file")

export(ProteomicsAnnotationHubData,
       availableProteomicsAnnotationHubData)
